# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
*/runs/data/*
*/runs/server/*
*/runs/client/*
!*/runs/client/options.txt
!*/runs/client/config
*/runs/client/config/*
!*/runs/client/config/emi.css

# generated resources
*/src/generated/
